<!DOCTYPE html>

<html lang="kr">

<head>
    <meta charset="utf-8">
    <title>왼손잡이 아내</title>
    <%= stylesheet_link_tag "drama" %>
</head>

<body>
    <div class="images" style="text-align: center"><%= image_tag "왼손잡이아내.jpg" %>  </div>
    <div class="howMany" style="text-align: center">
        <h1>현재까지 방영된 화수: 59화</h1>
    </div>

    <div style="margin-bottom: 30px">
        <h2>지난주의 시청률</h2>
    </div>
    <div class="sisisi">
        <div class="sicheongryul" style="height:157px; width: 20px;"></div>
        <div class="sicheongryul" style="height:143px; width: 20px;"></div>

        <div class="sicheongryul" style="height:153px; width: 20px;"></div>
        <div class="sicheongryul" style="height:156px; width: 20px;"></div>
        <div class="sicheongryul" style="height:147px; width: 20px;"></div>




    </div>
    <div class=hello>
        <div class=number>3월 25일 </div>
        <div class=number>3월 26일 </div>
        <div class=number>3월 27일 </div>
        <div class=number>3월 28일 </div>
        <div class=number>3월 29일  </div>
    </div>
    <div class=numnum>
            <div class=number>15.7%</div>
            <div class=number>14.3%</div>
            <div class=number>15.3%</div>
            <div class=number>15.6%</div>
            <div class=number>14.7%</div>
    </div>

</body>

</html>